In [1]:
import pandas as pd
import datetime as dt

In [4]:
d= dt.date(2016,4,15)

In [8]:
d1 = dt.datetime(2016,2,23,8,13,45)

In [9]:
str(d1)

'2016-02-23 08:13:45'

In [10]:
pd.Timestamp('2020-4-19')

Timestamp('2020-04-19 00:00:00')

In [11]:
pd.Timestamp('2020/4/19')

Timestamp('2020-04-19 00:00:00')

In [16]:
pd.Timestamp('10/9/2015')

Timestamp('2015-10-09 00:00:00')

In [17]:
pd.Timestamp('2020-4-19 8:30:45')

Timestamp('2020-04-19 08:30:45')

In [18]:
pd.Timestamp('2020-4-19 8:30:45 PM')

Timestamp('2020-04-19 20:30:45')

In [26]:
dates=['2020-01-04','2019-3-23','2018-5-12']
d = pd.DatetimeIndex(dates)

In [28]:
values=[100,200,300]
pd.Series(data=values,index=d)

2020-01-04    100
2019-03-23    200
2018-05-12    300
dtype: int64

In [29]:
pd.to_datetime('2001-2-3')

Timestamp('2001-02-03 00:00:00')

In [32]:
time = pd.Series(['2001-2-3','2019','4th June , 2020'])
time

0           2001-2-3
1               2019
2    4th June , 2020
dtype: object

In [33]:
pd.to_datetime(time)

0   2001-02-03
1   2019-01-01
2   2020-06-04
dtype: datetime64[ns]

In [34]:
date = pd.Series(['2001-2-3','2019','4th June , 2020','Hello World'])
date

0           2001-2-3
1               2019
2    4th June , 2020
3        Hello World
dtype: object

In [37]:
pd.to_datetime(date,errors='coerce')

0   2001-02-03
1   2019-01-01
2   2020-06-04
3          NaT
dtype: datetime64[ns]

In [38]:
pd.date_range(start='2019-01-01',end='2019-01-10',freq='D')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', freq='D')

In [40]:
type(pd.date_range(start='2019-01-01',end='2019-01-10',freq='D'))

pandas.core.indexes.datetimes.DatetimeIndex

In [39]:
pd.date_range(start='2019-01-01',end='2019-01-10',freq='2D')

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07',
               '2019-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [42]:
pd.date_range(start='2019-01-01',end='2019-01-10',freq='B')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', freq='B')

In [44]:
pd.date_range(start='2019-01-01',end='2019-01-20',freq='W')

DatetimeIndex(['2019-01-06', '2019-01-13', '2019-01-20'], dtype='datetime64[ns]', freq='W-SUN')

In [45]:
pd.date_range(start='2019-01-01',end='2047-01-10',freq='A')

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31', '2030-12-31',
               '2031-12-31', '2032-12-31', '2033-12-31', '2034-12-31',
               '2035-12-31', '2036-12-31', '2037-12-31', '2038-12-31',
               '2039-12-31', '2040-12-31', '2041-12-31', '2042-12-31',
               '2043-12-31', '2044-12-31', '2045-12-31', '2046-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [2]:
pd.date_range(start='2019-01-23',periods=25,freq='D')

DatetimeIndex(['2019-01-23', '2019-01-24', '2019-01-25', '2019-01-26',
               '2019-01-27', '2019-01-28', '2019-01-29', '2019-01-30',
               '2019-01-31', '2019-02-01', '2019-02-02', '2019-02-03',
               '2019-02-04', '2019-02-05', '2019-02-06', '2019-02-07',
               '2019-02-08', '2019-02-09', '2019-02-10', '2019-02-11',
               '2019-02-12', '2019-02-13', '2019-02-14', '2019-02-15',
               '2019-02-16'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range(end='2019-04-19',periods=15,freq='M')

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
               '2019-01-31', '2019-02-28', '2019-03-31'],
              dtype='datetime64[ns]', freq='M')

In [9]:
dates = pd.date_range(start='2018-01-23',end='2029-2-15',freq='24D')

In [11]:
s = pd.Series(dates)
s.head(3)

0   2018-01-23
1   2018-02-16
2   2018-03-12
dtype: datetime64[ns]

In [12]:
s.dt.day

0      23
1      16
2      12
3       5
4      29
       ..
164     2
165    26
166    20
167    13
168     6
Length: 169, dtype: int64

In [15]:
mask = s.dt.is_month_start
s[mask]

13    2018-12-01
32    2020-03-01
84    2023-08-01
117   2025-10-01
dtype: datetime64[ns]

In [16]:
from pandas_datareader import data

In [18]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-1-1',end='2020-1-1')

In [19]:
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.389154
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.749807
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  23.757486
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.611687
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.366127

In [21]:
stocks.values

array([[3.09899998e+01, 3.04799995e+01, 3.09799995e+01, 3.04799995e+01,
        3.19297000e+07, 2.33891544e+01],
       [3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.37498074e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.37574863e+01],
       ...,
       [1.59550003e+02, 1.58220001e+02, 1.59449997e+02, 1.58960007e+02,
        1.84128000e+07, 1.54973633e+02],
       [1.59020004e+02, 1.56729996e+02, 1.58990005e+02, 1.57589996e+02,
        1.63484000e+07, 1.53637985e+02],
       [1.57770004e+02, 1.56449997e+02, 1.56770004e+02, 1.57699997e+02,
        1.83694000e+07, 1.53745239e+02]])

In [22]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [23]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20',
               '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=2517, freq=None)

In [27]:
stocks.loc[pd.Timestamp('2009-12-31')]

High         3.099000e+01
Low          3.048000e+01
Open         3.098000e+01
Close        3.048000e+01
Volume       3.192970e+07
Adj Close    2.338915e+01
Name: 2009-12-31 00:00:00, dtype: float64

In [28]:
stocks.iloc[0]

High         3.099000e+01
Low          3.048000e+01
Open         3.098000e+01
Close        3.048000e+01
Volume       3.192970e+07
Adj Close    2.338915e+01
Name: 2009-12-31 00:00:00, dtype: float64

In [34]:
stocks.loc[[pd.Timestamp('2009-12-31'),pd.Timestamp("'2010-01-04'")]]

             High    Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.48  30.980000  30.480000  31929700.0  23.389154
2010-01-04  31.10  30.59  30.620001  30.950001  38409100.0  23.749807

In [35]:
stocks.loc['2009-12-31':'2010-01-31']

                 High        Low       Open      Close       Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000   31929700.0  23.389154
2010-01-04  31.100000  30.590000  30.620001  30.950001   38409100.0  23.749807
2010-01-05  31.100000  30.639999  30.850000  30.959999   49749600.0  23.757486
2010-01-06  31.080000  30.520000  30.879999  30.770000   58182400.0  23.611687
2010-01-07  30.700001  30.190001  30.629999  30.450001   50559700.0  23.366127
2010-01-08  30.879999  30.240000  30.280001  30.660000   51197400.0  23.527273
2010-01-11  30.760000  30.120001  30.709999  30.270000   68754700.0  23.228008
2010-01-12  30.400000  29.910000  30.150000  30.070000   65912100.0  23.074533
2010-01-13  30.520000  30.010000  30.260000  30.350000   51863500.0  23.289396
2010-01-14  31.100000  30.260000  30.309999  30.959999   63228100.0  23.757486
2010-01-15  31.240000  30.709999  31.080000  30.860001   79913200.0  23.680746
2010-01-19  31.240000  30.680000  30.750000  31.100000   46575700.0  23.864918
2010-01-20  30.940001  30.309999  30.809999  30.590000   54849500.0  23.473562
2010-01-21  30.719999  30.000000  30.610001  30.010000   73086700.0  23.028492
2010-01-22  30.200001  28.840000  30.000000  28.959999  102004600.0  22.222763
2010-01-25  29.660000  29.100000  29.240000  29.320000   63373000.0  22.499016
2010-01-26  29.850000  29.090000  29.200001  29.500000   66639900.0  22.637138
2010-01-27  29.820000  29.020000  29.350000  29.670000   63949500.0  22.767595
2010-01-28  29.870001  28.889999  29.840000  29.160000  117513700.0  22.376238
2010-01-29  29.920000  27.660000  29.900000  28.180000  193888500.0  21.624226

In [36]:
stocks.iloc[4:10]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.366127
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.527273
2010-01-11  30.760000  30.120001  30.709999  30.270000  68754700.0  23.228008
2010-01-12  30.400000  29.910000  30.150000  30.070000  65912100.0  23.074533
2010-01-13  30.520000  30.010000  30.260000  30.350000  51863500.0  23.289396
2010-01-14  31.100000  30.260000  30.309999  30.959999  63228100.0  23.757486

In [40]:
birth = pd.date_range(start='2001-01-13',end='2021-2-13',freq=pd.DateOffset(years=1))

In [43]:
a = stocks.index.isin(birth)

In [44]:
stocks[a]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-13  30.520000  30.010000  30.260000  30.350000  51863500.0  23.289396
2011-01-13  28.389999  28.010000  28.330000  28.190001  67077600.0  22.082430
2012-01-13  28.250000  27.790001  27.930000  28.250000  60196100.0  22.717346
2014-01-13  36.020000  34.830002  35.990002  34.980000  45901900.0  29.800055
2015-01-13  47.910000  46.060001  46.970001  46.360001  35270600.0  40.576344
2016-01-13  54.070000  51.299999  53.799999  51.639999  66883600.0  46.428085
2017-01-13  62.869999  62.349998  62.619999  62.700001  19422300.0  57.918674

In [45]:
stocks.loc[a]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-13  30.520000  30.010000  30.260000  30.350000  51863500.0  23.289396
2011-01-13  28.389999  28.010000  28.330000  28.190001  67077600.0  22.082430
2012-01-13  28.250000  27.790001  27.930000  28.250000  60196100.0  22.717346
2014-01-13  36.020000  34.830002  35.990002  34.980000  45901900.0  29.800055
2015-01-13  47.910000  46.060001  46.970001  46.360001  35270600.0  40.576344
2016-01-13  54.070000  51.299999  53.799999  51.639999  66883600.0  46.428085
2017-01-13  62.869999  62.349998  62.619999  62.700001  19422300.0  57.918674

In [46]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-1-1',end='2020-1-1')

In [49]:
day = stocks.index[200]
day

Timestamp('2010-10-18 00:00:00')

In [50]:
day.month

10

In [51]:
day.month_name()

'October'

In [53]:
stocks.index.day_name()

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday',
       'Thursday', 'Friday', 'Monday', 'Tuesday'],
      dtype='object', name='Date', length=2517)

In [55]:
stocks.insert(loc=0,column='days',value=stocks.index.day_name())

In [56]:
stocks.head()

,days,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2009-12-31,Thursday,30.990000,30.480000,30.980000,30.480000,31929700.0,23.389151
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.749817
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.757484
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.611689
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.366133

In [57]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-1-1',end='2020-1-1')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.389151
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.749807
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.757490

In [59]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2010-01-05', '2010-01-09', '2010-01-10', '2010-01-11',
               '2010-01-12', '2010-01-13', '2010-01-16', '2010-01-17',
               '2010-01-18', '2010-01-19',
               ...
               '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-28', '2019-12-29', '2019-12-31', '2020-01-01',
               '2020-01-04', '2020-01-05'],
              dtype='datetime64[ns]', name='Date', length=2517, freq=None)

In [61]:
stocks = data.DataReader(name='MSFT',data_source='yahoo',start='2010-1-1',end='2020-1-1')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.389158
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.749805
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.757484

In [63]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2020-01-31'],
              dtype='datetime64[ns]', name='Date', length=2517, freq=None)

In [64]:
 from pandas.tseries import offsets

In [65]:
stocks.index + offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=2517, freq=None)

In [68]:
stocks.index + offsets.BMonthBegin()

DatetimeIndex(['2010-01-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=2517, freq=None)

In [70]:
time1=pd.Timestamp('2020-1-10 4:35:18')
time2=pd.Timestamp('2020-1-2 2:12:12')
time1 - time2

Timedelta('8 days 02:23:06')

In [71]:
time2 - time1

Timedelta('-9 days +21:36:54')

In [76]:
time1 + pd.Timedelta(days=3,hours=4,minutes=16)

Timestamp('2020-01-13 08:51:18')

In [77]:
pd.Timedelta('6 hours 5 minutes')

Timedelta('0 days 06:05:00')

In [81]:
df = pd.read_csv('ecommerce.csv',index_col='ID',parse_dates=['order_date','delivery_date'])
df.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [86]:
df['time_taken'] = df['delivery_date'] -df['order_date']

In [87]:
df.head()

   order_date delivery_date delivery_time time_taken
ID
1  1998-05-24    1999-02-05      257 days   257 days
2  1992-04-22    1998-03-06     2144 days  2144 days
4  1991-02-10    1992-08-26      563 days   563 days
5  1992-07-21    1997-11-20     1948 days  1948 days
7  1993-09-02    1998-06-10     1742 days  1742 days

In [89]:
mask = df['delivery_time'] >'365 days'

In [90]:
df[mask]

    order_date delivery_date delivery_time time_taken
ID
2   1992-04-22    1998-03-06     2144 days  2144 days
4   1991-02-10    1992-08-26      563 days   563 days
5   1992-07-21    1997-11-20     1948 days  1948 days
7   1993-09-02    1998-06-10     1742 days  1742 days
9   1990-01-25    1994-10-02     1711 days  1711 days
..         ...           ...           ...        ...
986 1990-12-10    1992-12-16      737 days   737 days
990 1991-06-24    1996-02-02     1684 days  1684 days
991 1991-09-09    1998-03-30     2394 days  2394 days
993 1990-11-16    1998-04-27     2719 days  2719 days
997 1990-01-04    1991-10-03      637 days   637 days

[394 rows x 4 columns]

In [91]:
df['delivery_time'].max()

Timedelta('3583 days 00:00:00')

In [92]:
df['delivery_time'].mean()

Timedelta('1217 days 22:53:53.532934')